﻿@page "/Account/ConfirmEmailChange"
@using WithBruce.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using System.Text
@using WithBruce.Feature.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject UserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirm email change</PageTitle>

<h1>Confirm email change</h1>

<StatusMessage Message="@_message"/>

@code {
    private string? _message;
    private ApplicationUser _user = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; }

    [SupplyParameterFromQuery]
    private string? Email { get; }

    [SupplyParameterFromQuery]
    private string? Code { get; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Email is null || Code is null)
        {
            RedirectManager.RedirectToWithStatus(
                "/Account/Login", "Error: Invalid email change confirmation link.");
            return;
        }

        _user = await UserAccessor.GetRequiredUserAsync();

        var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
        var result = await UserManager.ChangeEmailAsync(_user, Email, code);
        if (!result.Succeeded)
        {
            _message = "Error changing email.";
            return;
        }

    // In our UI email and user name are one and the same, so when we update the email
    // we need to update the user name.
        var setUserNameResult = await UserManager.SetUserNameAsync(_user, Email);
        if (!setUserNameResult.Succeeded)
        {
            _message = "Error changing user name.";
            return;
        }

        await SignInManager.RefreshSignInAsync(_user);
        _message = "Thank you for confirming your email change.";
    }

}