﻿@mixin defaultHeader($align: "start") {
    header {
        width: 100%;

        @if $align == "center" {
            width: 100%;
            justify-content: $align;
            text-align: center;
        }

        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            @if $align == "center" {
                align-items: $align;
            }
        }

        span {
            @include theme-property('color', var(--clr-primary-700), var(--clr-primary-400));
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 600;
            font-size: var(--text-base);
            text-transform: uppercase;
            border-bottom: 2px solid;
            display: inline;
            width: fit-content;
        }
    }
}

@mixin theme-property($property, $light-value, $dark-value) {
    html.light & {
        #{$property}: $light-value;
    }
    html.dark & {
        #{$property}: $dark-value;
    }
}