﻿html { font-size: 16px; }

body {
    font-family: inter, sans-serif;
    line-height: 1.65;
}

p {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab', serif;
    line-height: 1.15;
    font-weight: 600;
    text-wrap: balance;
}

h1 {
    font-family: 'Roboto Slab', serif;
    margin-top: 0;
    font-size: var(--text-4xl);
}

h2 { font-size: 2.07em; }
h3 { font-size: 1.73em; }
h4 { font-size: 1.44em; }
h5 { font-size: 1.2em; }

.text-caption { font-size: 0.83em; }

small {
    font-size: var(--text-sm);
}
