@use "_colors" as *;
@use "_font-sizes" as *;

:root {
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }

    @each $font-size, $value in $font-sizes {
        --text-#{$font-size}: #{$value};
    }
}