@use '../abstracts/mixins' as *;

.button {
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 0.425rem;
    width: fit-content;
    color: white!important;
    font-weight: 500;


    &--primary {
        background: var(--clr-primary-700);

        &:hover {
            background: var(--clr-primary-800);
        }
    }

    &--secondary {
        background: var(--clr-slate-700);

        &:hover {
            background: var(--clr-slate-800);
        }
    }



    &:active {}
    &:focus {}
    &:disabled {}
}