﻿@use "../abstracts/mixins" as *;

.main-navigation {
    position: sticky;
    top: 0;
    z-index: 30;
    display: flex;
    flex-direction: column;

    > div:first-child {
        @include theme-property('background', white, var(--clr-slate-950));
        grid-area: nav;
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: min-content;
        box-shadow: 14px 12px 16px 0 rgba(0,0,0,.05);
        padding: 0.875rem 0;
        flex: 1;

        > a, > button {
            display: flex;
        }

        a {
            justify-self: flex-end;
        }

        button {
            justify-self: flex-start;
        }


        img {
            width: 205px;
        }

        @media (min-width: 432px) {
            grid-template-columns: 100px 1fr 100px;
            > a, > button {
                justify-self: center;
            }
        }
    }

    iconify-icon {
        @include theme-property('color', var(--clr-slate-700), var(--clr-slate-300));

        &:hover {
            color: var(--clr-primary-600);
        }
    }

    .progress-bar {
        @include theme-property('background', var(--clr-slate-300), var(--clr-slate-600));
        height: 5px;
        background: var(--clr-slate-300);
        width: 100%;
    }

    .progress {
        background: var(--clr-primary-600);
        z-index: 20;
        height: 5px;
    }
}