﻿@use "../abstracts/mixins" as *;

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    @include theme-property('background', var(--clr-slate-200), var(--clr-slate-600));
    @include theme-property('color', var(--clr-slate-700), var(--clr-slate-200));
    font-size: var(--text-sm);
    font-weight: 500;
    border-radius: 0.25rem;
    width: fit-content;
    padding: 0.375rem 0.625rem;

    &:hover {
        @include theme-property('background', var(--clr-slate-300), var(--clr-slate-700));
    }
}