@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private IEnumerable<string> Animals = new List<string>() { "Dog", "Cat" };

    private void IncrementCount()
    {
        Animals.Select(x => x.Length + '+');
        Console.WriteLine(Animals.FirstOrDefault());
        currentCount++;
    }
}
