﻿@using WithBruce.Shared.Tag

<div class="tags">
    @foreach (var tag in Tags)
    {
        <Tag>@tag.Name</Tag>
    }
</div>

@code {
    [Parameter]
    public required IEnumerable<TagDto> Tags { get; set; }
}