@use "../abstracts/mixins" as *;

@include defaultHeader();

.contact {
    @include theme-property('color', var(--clr-slate-700), var(--clr-slate-300));
    width: min(100%, 64ch);
    align-self: center;
    justify-self: center;
    padding: 3rem 0;

    @media (min-width: 1100px) {
        padding: 4rem 0;
    }

    header {
        max-width: 48ch;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .form-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;

        label {
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        input, textarea {
            @include theme-property('background', var(--clr-slate-50), var(--clr-slate-800));
            @include theme-property('border-color', var(--clr-slate-300), var(--clr-slate-700));
            @include theme-property('color', var(--clr-slate-700), var(--clr-slate-300));
            cursor: text;
            box-sizing: border-box;
            border-radius: 6px;
            border: 1px solid;
            font-size: var(--text-sm);
            padding: 1rem;
            display: block;
            width: 100%;
            outline: 1px solid transparent;
            outline-offset: 1px;
        }

        textarea {
            min-height: 200px;
        }
    }
}