@use "../abstracts/mixins" as *;
@use "../abstracts/animations" as *;

.hero {
    background: rgb(21, 12, 61);
    background: url("https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/hero-background.png"), linear-gradient(45deg, rgba(21, 12, 61, 1) 0%, rgba(121, 14, 74, 1) 100%);
    height: min-content;
    padding: 3rem 0;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 1100px) {
        padding: 8rem 0;
    }

    article {
        color: var(--clr-slate-300);
        display: grid;
        column-gap: 2rem;
        row-gap: 1.25rem;
        grid-template-areas:
            "bruce-vector"
            "name"
            "title"
            "description"
            "cta";

        @media(min-width: 800px) {
            grid-template-areas:
                "name bruce-vector"
                "title bruce-vector"
                "description bruce-vector"
                "cta bruce-vector";
        }
    }

    h1 {
        grid-area: name;
        color: var(--clr-primary-400);
        font-size: var(--text-lg);
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        margin-top: 2rem;

        @media (min-width: 800px) {
            margin: 0;
        }
    }

    h2 {
        grid-area: title;
        max-width: 26ch;
    }

    p {
        grid-area: description;
        max-width: 50ch;
    }

    a {
        grid-area: cta;
        height: fit-content;
    }

    figure {
        grid-area: bruce-vector;
        width: clamp(100px, 100%, 400px);
        justify-self: center;
        align-self: center;
        position: relative;

        figcaption {
            display: none;
        }

        img {
            &:not(:first-child) {
                position: absolute;
                top: 0;
                animation: hover-effect 2s ease-in-out infinite;
            }

            &:not(:first-child):nth-child(odd) {
                animation: hover-effect-up 2s ease-in-out infinite;
            }

            &:not(:first-child):nth-child(even) {
                animation: hover-effect-down 2s ease-in-out infinite;
            }

            &:first-child {
                width: 100%;
            }

            &:nth-child(2) { // vue
                left: 50px;
                top: 175px;
            }

            &:nth-child(3) { // js
                right: 65px;
                top: 165px;
            }

            &:nth-child(4) { // net
                right: 0;
                top: 85px;
            }

            &:nth-child(5) { // angular
                right: 75px;
                top: 35px;
            }

            &:nth-child(6) { // blazor
                left: 60px;
                top: -20px;
            }

            &:nth-child(7) { // tailwindcss
                left: -15px;
                top: 75px;
            }
        }
    }
}

.services {
    @include theme-property('background', var(--clr-slate-200), var(--clr-slate-950));
    @include theme-property('color', var(--clr-slate-700), var(--clr-slate-300));
    @include defaultHeader;
    row-gap: 2rem;
    padding: 3rem 0;

    @media (min-width: 1100px) {
        padding: 8rem 0;
    }

    article {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        @media (min-width: 551px) {
            grid-template-columns: repeat(auto-fit, minmax(228px, auto));
        }

    }

    figure {
        @include theme-property('background', var(--clr-slate-100), var(--clr-slate-900));
        @include theme-property('color', var(--clr-slate-700), var(--clr-secondary-400));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        gap: 1rem;
        padding: 2rem 1rem;
        text-align: center;
        transition: background ease-in-out 0.2s;

        &:hover {
            @include theme-property('background', var(--clr-slate-50), var(--clr-slate-800));
        }
    }

    p {
        max-width: 64ch;
    }
}

.featured-projects {
    @include theme-property('background', white, var(--clr-slate-900));
    @include theme-property('color', var(--clr-slate-700), var(--clr-slate-300));

    &__main {
        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-columns: repeat(auto-fit, minmax(clamp(100px, 100%, 325px), auto));
        gap: 3rem;
        @include defaultHeader;
        padding: 3rem 0;

        @media (min-width: 1100px) {
            padding: 8rem 0;
        }

        > article {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        > article article, figure {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        p {
            max-width: 64ch;
        }
    }


    header {
        grid-column: 1 / -1;
    }

    figure {
        div:first-child {
            position: relative;
        }

        &:hover {
            cursor: pointer;
            button {
                scale: 1.08;
                border-color: var(--clr-primary-500);
                color: var(--clr-primary-500);
                background: rgba(0, 0, 0, 1);
            }
        }
    }

    button {
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background: rgba(0, 0, 0, 0.55);
        border: 2px solid var(--clr-slate-500);
        color: var(--clr-slate-300);
        padding: 0.65rem 0.85rem;
        border-radius: 6px;
        width: fit-content;
        transition: all ease-in-out 0.15s;
    }
}

.experience {
    @include defaultHeader(center);
    @include theme-property('background', var(--clr-slate-200), var(--clr-slate-950));
    @include theme-property('color', var(--clr-slate-700), var(--clr-slate-300));
    row-gap: 3rem;
    padding: 3rem 0;

    @media (min-width: 1100px) {
        padding: 8rem 0;
    }

    article {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(228px, auto));
        gap: 2rem;
    }

    figure {
        @include theme-property('background', var(--clr-slate-100), var(--clr-slate-900));
        @include theme-property('color', var(--clr-slate-700), var(--clr-slate-300));
        display: grid;
        grid-template-rows: 4rem 1px 1fr;
        gap: 1rem;
        padding: 1rem;
        border-radius: 6px;
        transition: background ease-in-out 0.2s;

        &:hover {
            @include theme-property('background', var(--clr-slate-50), var(--clr-slate-800));
        }
    }

    hr {
        @include theme-property('border-color', var(--clr-slate-200), var(--clr-slate-800));
        border: 1px solid;
        opacity: 65%;
    }

    img {
        max-height: 6rem;
        width: 75%;
        align-self: center;
        justify-self: center;
    }

    ul {
        list-style: none;
        text-align: center;
        font-size: var(--text-sm);
        font-weight: 600;
    }
}
