@use "../abstracts/mixins" as *;

.project-mast {
    display: grid;
    height: 300px;
    min-height: 300px;
    overflow: hidden;
    position: relative;

    &--mask-image {
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 100%);
    }

    img:first-child {
        position: absolute;
        justify-self: center;
        align-self: center;
        margin-top: -90px;
        z-index: 10;
    }

    img:last-child {
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
    }
}

.project-detail {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;

    header {
        @include theme-property('background', white, var(--clr-slate-800));
        @include theme-property('color', var(--clr-slate-700), var(--clr-slate-300));
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: -100px;
        border-radius: 12px;
        padding: 2rem;

        p {
            max-width: 62ch;
        }
    }

}

.project-shots {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(258px, auto));
    padding: 2rem 0 2rem;

    figure {
        border-radius: 12px;
        overflow: hidden;
        transition: all ease-in-out 0.15s;

        @media (min-width: 600px) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    img {
        width: 100%;
    }
}

.project-navigation {
    @include theme-property('border-color', var(--clr-slate-300), var(--clr-slate-800));
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
    border-top: 1px solid;
    margin: 2rem 0;
    padding: 2rem 0;

    @media (min-width: 570px) {
        flex-direction: row;
    }

    button {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: max-content max-content;
        grid-template-areas:
            "preview"
            "label"
            "title";
        text-align: center;
        align-items: center;
        row-gap: 0.5rem;
        column-gap: 1rem;

        @media (min-width: 748px) {
            &:first-child {
                grid-template-areas:
                    "preview label"
                    "preview title";
                text-align: left;
            }

            &:last-child {
                grid-template-areas:
                    "label preview"
                    "title preview";
                text-align: right;
            }
        }

        &:hover {
            h5 {
                color: var(--clr-primary-600)!important;
            }

            iconify-icon {
                opacity: 1;
                transform: scale(1);
            }
        }

        .preview-image {
            @include theme-property('border-color', var(--clr-slate-100), var(--clr-slate-800));
            grid-area: preview;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-self: center;
            overflow: hidden;
            border-radius: 100%;
            width: 150px;
            height: 150px;
            background-position: -135px -85px;
            background-size: 400%;

            @media (min-width: 570px) {
                width: 85px;
                height: 85px;
                background-position: -70px -45px;
            }

            background-repeat: no-repeat;
            border: 5px solid;
        }

        span {
            grid-area: label;
            align-self: flex-end;
            @include theme-property('color', var(--clr-slate-900), var(--clr-slate-400));
        }

        h5 {
            @include theme-property('color', var(--clr-slate-900), var(--clr-slate-300));
            grid-area: title;
            align-self: flex-start;
            justify-self: center;
            width: max-content;
            transition: color 0.15s ease-in-out;

            @media (min-width: 748px) {
                justify-self: unset;
            }
        }

        iconify-icon {
            background: white;
            border-radius: 100px;
            width: 65px;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: transform 0.25s, opacity 0.25s;
            transform: scale(0);

            @media (min-width: 570px) {
                width: 40px;
                height: 40px;
            }
        }
    }
}
