:root {
    --color-red: hsla(355, 78%, 56%, 1);
    --color-blue: hsl(220, 90%, 56%);
    --color-light: hsla(0, 0%, 95%, 1);
    --color-dark: hsla(214, 50%, 11%, 1);
}

//$red: hsla(355, 78%, 56%, 1);
//$blue: hsla(216, 84%, 55%, 1);
//$light: hsla(0, 0%, 95%, 1);
//$dark: hsla(214, 50%, 11%, 1);