@use "_reset.scss";
@use "_blazor.scss";
@use "abstracts" as *;
@use "pages" as *;
@use "components" as *;

html {
    color: #354155;
    height: 100svh;
}

body {
    @include theme-property('background', white, var(--clr-slate-950));
    height: 100svh;
    font-family: inter, sans-serif;
    line-height: 1.5;
    text-wrap: pretty;
}

.application {
    @include theme-property('background', var(--clr-slate-200), var(--clr-slate-900));
    min-height: 100svh;
    display: grid;
    grid-template-rows: 75px 1fr min-content;
    grid-template-areas:
      "nav"
      "main"
      "footer";
}

a {
    @include theme-property('color', var(--clr-primary-600), var(--clr-primary-400));
}

main {
    @include theme-property('background', var(--clr-slate-200), var(--clr-slate-900));
    overflow-x: hidden;
}

.content-grid,
.full-width {
    --padding-inline: 2rem;
    --content-max-width: 960px;
    --breakout-max-width: 1100px;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
    --content-area: min(100% - (var(--padding-inline) * 2), var(--content-max-width));

    display: grid;
    height: min-content;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr)
      [breakout-start] minmax(0, var(--breakout-size))
      [content-start] var(--content-area) [content-end]
      minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr)[full-width-end];

    > :not(.breakout, .full-width) {
        grid-column: content;
    }

    .breakout {
        grid-column: breakout;
    }

    .full-width {
        grid-column: full-width;
    }
}

main {
    grid-area: main;
}

section > header > h2 {
    display: flex;
    flex-direction: column;

    small {
        color: var(--clr-primary);
    }
}

footer {
    @include theme-property('background', white, var(--clr-slate-950));
    @include theme-property('border-color', var(--clr-slate-300), var(--clr-slate-800));
    grid-area: footer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top: 5px solid;

    hr {
        @include theme-property('border-color', var(--clr-slate-200), var(--clr-slate-900));
        opacity: 0.45;
        width: 100%;
        border: 1px solid;
    }

    small {
        @include theme-property('color', var(--clr-slate-500), var(--clr-slate-300));
    }
}