﻿@using WithBruce.Client.Services.Theme
@inherits LayoutComponentBase
@inject IThemeService ThemeService

<Navigation />

<main class="content-grid">
    @Body
</main>

<footer>
    <NavLink href="/">
        <Logo DarkMode="ThemeService.IsDarkMode" />
    </NavLink>
    <hr />
    <small >© 2023 <a href="/" class="hover:underline">WithBruce™</a>. All Rights Reserved.</small>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override void OnInitialized()
    {
        ThemeService.OnThemeChanged += ThemeChanged;
        base.OnInitialized();
    }

    private void ThemeChanged(bool obj)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        ThemeService.OnThemeChanged -= ThemeChanged;
    }
}