﻿@using WithBruce.Client.Services.Theme
@inject IJSRuntime JsRuntime
@inject IThemeService ThemeService
@inject NavigationManager NavigationManager

<nav class="main-navigation">
    <div>
        <a
            href="https://www.linkedin.com/in/brucemcelroy/"
            aria-label="View my work history on LinkedIn"
            target="_blank">
            <Icon
                Name="ion:logo-linkedin"
                Width="30"
                height="30"/>
        </a>
        <div>
            <NavLink href="/">
                <Logo DarkMode="ThemeService.IsDarkMode" />
            </NavLink>
        </div>
        <button
            type="button"
            @onclick="HandleSwitchDarkMode"
            aria-label="Toggle between dark and light mode">
            <Icon
                Name="@(ThemeService.IsDarkMode ? "ph:moon-stars-duotone" : "ph:sun-duotone")"
                Width="30"
                height="30"/>
        </button>
    </div>
    <div class="progress-bar">
        <div class="progress" style="width: @_progress%; max-width: 100%;"></div>
    </div>
</nav>

@code {
    private double? _progress;
    private bool _isScrolled = false;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
        base.OnInitialized();
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _progress = 0;
        _isScrolled = false;
        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        _progress = 0;
        _isScrolled = false;
        base.OnParametersSet();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ThemeService.OnThemeChanged += UpdateTheme;
            await ThemeService.InitializeThemeAsync();
            var dotnetHelper = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("scrollFunctions.registerScrollEvent", dotnetHelper);
            await JsRuntime.InvokeVoidAsync("theme.observeHtmlMutation");
        }
    }

    private void UpdateTheme(bool isDarkMode)
    {
        StateHasChanged();
    }

    private void HandleSwitchDarkMode()
    {
        ThemeService.ToggleTheme();
    }

    [JSInvokable]
    public void UpdateScrollProgress(double? value)
    {
        if (value == null) return;
        _progress = value;
        _isScrolled = _progress != 0;
        StateHasChanged();
    }

    private async Task ScrollToTopAsync()
    {
        await JsRuntime.InvokeVoidAsync("scrollFunctions.scrollToTop");
    }

    public void Dispose()
    {
        ThemeService.OnThemeChanged -= UpdateTheme;
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }

}