﻿@using WithBruce.Client.Services.Theme
@inject IJSRuntime JsRuntime
@inject IThemeService ThemeService
@inject NavigationManager NavigationManager

<div class="theme @(_darkMode ? "dark" : "")">
    <button @onclick="Poop" style="color: white; margin-top: 100px;">Update</button>
    @ChildContent
</div>

@code {
    private bool _darkMode;
    [Parameter] public RenderFragment? ChildContent { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ThemeService.OnThemeChanged += UpdateTheme;
            await ThemeService.InitializeThemeAsync();

            var dotnetHelper = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("scrollFunctions.registerScrollEvent", dotnetHelper);
        }
    }

    private void Poop()
    {
        _darkMode = !_darkMode;
        StateHasChanged();
    }

    private void UpdateTheme(bool isDarkMode)
    {
        _darkMode = isDarkMode;
        StateHasChanged();
    }
}