﻿@page "/Contact"
@using WithBruce.Shared.ContactForm
@inject IContactFormClientService ContactFormClientService

<PageTitle>Bruce McElroy: Get in touch!</PageTitle>

<HeadContent>
    <meta name="description" content="Get in touch with Bruce McElroy for any questions, concerns or project proposals. Don't hesitate to reach out and start a conversation. Your messages are always welcomed.">
</HeadContent>

<section class="contact">
    <article>
        @if (_submitted)
        {
            <div role="alert">
                <span>@ContactFormResponse?.Title</span> @ContactFormResponse?.Message
            </div>
        }
        else
        {
            <header>
                <h2>
                    <span>Hello there</span>
                    Do you have a project you would like to discuss?
                </h2>
            </header>

            <EditForm method="post" Model="ContactForm" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="form-field">
                    <label for="name" type="text">Name</label>
                    <InputText @bind-Value="ContactForm.Name" type="text" id="name" required/>
                </div>
                <div class="form-field">
                    <label for="email" type="email">Email Address</label>
                    <InputText @bind-Value="ContactForm.EmailAddress" type="email" id="email" required/>
                </div>
                <div class="form-field">
                    <label for="message" type="text">Tell me about your project</label>
                    <InputTextArea @bind-Value="ContactForm.Message" type="text" id="message" required/>
                </div>
                <button class="button button--primary" type="submit">Submit</button>
            </EditForm>
        }
    </article>
</section>


@code {
    private bool _submitted = false;
    public required ContactFormRequest ContactForm { get; set; }
    private ContactFormResponse? ContactFormResponse { get; set; }

    protected override void OnInitialized()
    {
        ContactForm = new ContactFormRequest
        {
            Name = string.Empty,
            EmailAddress = string.Empty,
            Message = string.Empty
        };
    }

    private async void HandleValidSubmit()
    {
        var response = await ContactFormClientService.SubmitContactForm(ContactForm);
        ContactFormResponse = response;
        _submitted = true;
        StateHasChanged();
    }

}