﻿@page "/"
@using WithBruce.Shared.OfferedService
@using WithBruce.Shared.Experience
@using WithBruce.Shared.Project
@using WithBruce.Client.Services
@using WithBruce.Shared.Slug
@inject IExperienceClientService ExperienceClientService
@inject IProjectClientService ProjectClientService
@inject IAppSettings AppSettings
@inject ISlugService SlugService
@inject NavigationManager NavigationManager

<PageTitle>Bruce McElroy: Professional UI/UX Designer and Software Developer in Pittsburgh, PA</PageTitle>

<HeadContent>
    <meta content="Get to know Bruce McElroy, a professional UI/UX Designer and Software Developer based in Pittsburgh, PA, specializing in crafting intuitive user interfaces along with robust software solutions." name="description"/>
    <meta property="og:title" content="Bruce McElroy: Professional UI/UX Designer and Software Developer">
    <meta property="og:description" content="Get to know more about Bruce McElroy's work.">
    <meta property="og:url" content="https://www.withbruce.com">
    <meta name="twitter:title" content="Bruce McElroy: Professional UI/UX Designer and Software Developer">
    <meta name="twitter:description" content="Get to know more about Bruce McElroy's work.">
    <meta name="keywords" content="Bruce McElroy, UI/UX Designer, Software Developer, User Interface, User Experience, Pittsburgh, Pennsylvania, UX Design, UI Design, Web Development, Frontend Development, Responsive Design, Mobile App Design">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.withbruce.com"/>
</HeadContent>

<section class="hero full-width">
    <article>
        <h1>Bruce McElroy <Icon Name="ph:lightning-duotone"/></h1>
        <h2>UI/UX Designer & Software Developer Based in Pittsburgh</h2>
        <p>Leveraging a decade of industry experience, I integrate sophisticated design principles with robust software development to build impactful and efficient digital platforms.</p>
        <NavLink href="/contact" class="button button--primary">
            Send me a message!
        </NavLink>
        <figure>
            <img src="https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/bruce-header.svg" alt="Promotional hero vector image of Bruce McElroy with various development frameworks.">
            <img src="https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/vue-icon.svg" alt="Vue.js Icon">
            <img src="https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/js-icon.svg" alt="Javascript Icon">
            <img src="https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/net-icon.svg" alt=".NET Icon">
            <img src="https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/angular-icon.svg" alt="Angular Icon">
            <img src="https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/blazor-icon.svg" alt="Aspnetcore Blazor Icon">
            <img src="https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/tailwind-icon.svg" alt="Tailwindcss Icon">
            <figcaption>Collection of images depicting different development frameworks.</figcaption>
        </figure>
    </article>
</section>

<section class="services full-width">
    <header>
        <h2>
            <span>How I can help you</span>
            Discover versatile digital solutions
        </h2>
        <p>I fuse design, development, and strategy to craft unique digital experiences. Working together, let's innovate and create an online presence that truly reflects your vision.</p>
    </header>
    <article>
        @foreach (var service in _offeredServices)
        {
            <figure>
                <img src="@service.ImagePath" alt="@service.AltText" loading="lazy">
                <figcaption>@service.Name</figcaption>
            </figure>
        }
    </article>
</section>

<section class="featured-projects full-width">
    <div class="featured-projects__main">
        <header>
            <h2>
                <span>My Portfolio</span>
                Featured Projects
            </h2>
            <p>As an experienced UI/UX Engineer, I have embraced every project as an opportunity to transform an idea into a visually compelling and user-friendly digital experience.</p>
        </header>
        @foreach (var project in _featuredProjects!)
        {
            <article>
                <figure onclick="@(() => NavigateToProject(project.Title!))">
                    <div>
                        <img src="@project.Cover" alt="@project.Title project image">
                        <button type="button">View Project</button>
                    </div>
                    <figcaption>
                        <h3>@project.Title</h3>
                    </figcaption>

                </figure>
                <p>@project.Description</p>
                <TagList Tags="project.Tags.OrderBy(t => t.Name)"/>
            </article>
        }
    </div>
</section>

<section class="experience full-width">
    <header>
        <h2>
            <span>Work Experience</span>
            Companies I have worked with
        </h2>
    </header>
    <article>
        @foreach (var experience in _experiences!)
        {
            <figure>
                <img src="@AppSettings.MinioAddress/@experience.Logo" alt="@experience.Title Logo" loading="lazy">
                <hr>
                <figcaption>
                    <ul>
                        <li>@experience.Title</li>
                        <li>@experience.Company - @experience.Duration</li>
                    </ul>
                </figcaption>
            </figure>
        }
    </article>
</section>

@code {
    private IList<OfferedService> _offeredServices = new List<OfferedService>();
    private IList<ExperienceResponse>? _experiences = new List<ExperienceResponse>();
    private IList<ProjectResponse>? _featuredProjects = new List<ProjectResponse>();

    protected override async Task OnInitializedAsync()
    {
        var projectFilter = new ProjectFilterModel { IsFeatured = true, IncludeTags = true };
        _featuredProjects = await ProjectClientService.GetProjectsAsync(projectFilter);
        _experiences = await ExperienceClientService.GetExperiences();
        _offeredServices = new List<OfferedService>
        {
            new() { Name = "Bug Squashing", ImagePath = "https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/service-icon-bug-squashing.svg", AltText = "Icon representing my bug fixing service" },
            new() { Name = "Design Insights", ImagePath = "https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/service-icon-design-insights.svg", AltText = "Icon representing my design insights service" },
            new() { Name = "Mobile Strategy", ImagePath = "https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/service-icon-mobile-strategy.svg", AltText = "Icon representing my mobile strategy service" },
            new() { Name = "Photo Editing", ImagePath = "https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/service-icon-photo-editing.svg", AltText = "Icon representing my photo editing service" },
            new() { Name = "Responsive Design", ImagePath = "https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/service-icon-responsive-design.svg", AltText = "Icon representing my responsive design service" },
            new() { Name = "Software Engineering", ImagePath = "https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/service-icon-software-engineering.svg", AltText = "Icon representing my software engineering service" },
            new() { Name = "UI/UX", ImagePath = "https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/service-icon-uiux.svg", AltText = "Icon representing my ui ux service" },
            new() { Name = "Web Development", ImagePath = "https://withbruce.nyc3.cdn.digitaloceanspaces.com/home/service-icon-web-development.svg", AltText = "Icon representing my web development service" }
        };
    }

    private void NavigateToProject(string title)
    {
        var urlSlug = SlugService.GenerateSlug(title);
        NavigationManager.NavigateTo($"/projects/{urlSlug}");
    }
}