﻿@page "/projects/{UrlSlug}"
@using WithBruce.Shared.Project
@using WithBruce.Client.Services.Theme
@using WithBruce.Shared.Slug
@inject ISlugService SlugService
@inject IProjectClientService ProjectClientService
@inject IThemeService ThemeService
@inject NavigationManager NavigationManager

<PageTitle>Bruce McElroy: @CurrentProject?.Title</PageTitle>

<HeadContent>
    <meta name="description" content="Detailed information and sample images for @CurrentProject?.Title by Bruce McElroy. Learn about it's development process, features and more.">
</HeadContent>

@if (CurrentProject != null)
{
    <section class="project-mast full-width @(ThemeService.IsDarkMode ? "project-mast--mask-image" : "")">
        <img src="@CurrentProject?.Logo" alt="Logo"/>
        <img class="full-width" src="@CurrentProject?.Mast" alt="Mast"/>
    </section>

    <section class="project-detail">
        <header>
            <h2>@CurrentProject?.Title</h2>
            <p>@CurrentProject?.Description</p>
            <TagList Tags="CurrentProject?.Tags.OrderBy(t => t.Name)"/>
        </header>
    </section>

    <section class="project-shots">
        @if (CurrentProject?.Images != null)
        {
            @foreach (var img in CurrentProject.Images)
            {
                <figure>
                    <img src="@img.FilePath" alt="Project Image">
                </figure>
            }
        }
    </section>

    <nav class="project-navigation">
        <button @onclick="NavigateToPreviousProject">
            <div class="preview-image" style="background-image: url('@PreviousProject?.Cover');">
                <Icon
                    Name="mdi:chevron-left"
                    Width="30"
                    height="30"/>
            </div>
            <span>Previous Project</span>
            <h5>@PreviousProject?.Title</h5>
        </button>

        <button @onclick="NavigateToNextProject">
            <div class="preview-image" style="background-image: url('@NextProject?.Cover');">
                <Icon
                    Name="mdi:chevron-right"
                    Width="30"
                    height="30"/>
            </div>
            <span>Next Project</span>
            <h5>@NextProject?.Title</h5>
        </button>
    </nav>
}

@code {
    [Parameter] public required string UrlSlug { get; set; }

    private ProjectResponse? CurrentProject { get; set; }
    private ProjectResponse? PreviousProject { get; set; }
    private ProjectResponse? NextProject { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await UpdateProjects(UrlSlug);
        ThemeService.OnThemeChanged += ThemeChanged;
    }

    private async Task UpdateProjects(string urlSlug)
    {
        CurrentProject = await ProjectClientService.GetProjectAsync(urlSlug);
        NextProject = await ProjectClientService.GetNextProjectAsync(CurrentProject.Id);
        PreviousProject = await ProjectClientService.GetPreviousProjectAsync(CurrentProject.Id);
    }

    private async void NavigateToNextProject()
    {
        if (NextProject?.Title == null) return;
        var urlSlug = SlugService.GenerateSlug(NextProject.Title);
        await UpdateProjects(urlSlug);
        NavigationManager.NavigateTo($"/projects/{urlSlug}");
        StateHasChanged();
    }

    private async void NavigateToPreviousProject()
    {
        if (PreviousProject?.Title == null) return;
        var urlSlug = SlugService.GenerateSlug(PreviousProject.Title);
        await UpdateProjects(urlSlug);
        NavigationManager.NavigateTo($"/projects/{urlSlug}");
        StateHasChanged();
    }

    private void ThemeChanged(bool obj)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        ThemeService.OnThemeChanged -= ThemeChanged;
    }

}