﻿<!DOCTYPE html>
<html lang="en" class="light">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    @* <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="WithBruce.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    @if (!WebHostEnvironment.IsDevelopment())
        {
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-BSQR2JM6GZ"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-BSQR2JM6GZ');
            </script>
        }

    <HeadOutlet @rendermode="@RenderModeForPage" />
</head>

<body>
<div class="application">
    <Routes @rendermode="@RenderModeForPage" />
</div>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="js/theme.js?cacheBuster2"></script>
<script src="js/scroll.js?cacheBuster2"></script>
<script src="js/blazor.web.patched.js" autostart="false"></script>
<script>
    Blazor.start({
        webAssembly: {
            loadBootResource: function (type, name, defaultUri, integrity) {
                if (type === 'dotnetjs' && name === 'dotnet.js') {
                    return 'js/dotnet.patched.js';
                }
                return `_framework/${name}`;
            },
            configureRuntime: (builder) => {
                builder.withConfig({
                    maxParallelDownloads: 1, // Adjust this to change the WebAssembly resource throttling amount
                });
            },
        },
    });
</script>
</body>

</html>

@code {
    [Inject]
    public required IWebHostEnvironment WebHostEnvironment { get; init; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
        ? null
        : InteractiveAuto;
}